{
  "extends": [
    "airbnb-typescript",
    "plugin:jest/recommended",
    "plugin:jest/style"
  ],
  "env": {
    "jest" : true
  },
  "parserOptions": {
    "project": "./tsconfig.json"
  }, 
  "rules": {
    "import/no-named-default": "off",
    "class-methods-use-this": "off",
    "no-param-reassign": "off",
    "no-underscore-dangle": "off",
    "comma-dangle": 0,
    "prefer-arrow-callback": 0,
    "func-names": 0,
    "newline-before-return": 2,
    "import/extensions": "off"  
  }
}
